*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Uchen', serif;
  background-color: #2B303B;
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  grid-auto-columns: minmax(200px, auto);
  grid-auto-rows: minmax(200px, auto);

}

.block{
  background-color: #434B5C;
  border: 1px solid #68748E;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 70%;
  transition: all 0.3s ease-in;
  border-radius: 2%;

}

.block:hover{
  box-shadow: 0 0 15px #000000;
  opacity:100%;
  border-radius: 2%;
}

.block1{
  background-image: url("images/zoom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
}

.block2{
  background-image: url("images/space1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block3{
  background-image: url("images/space2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 1;
}

.block4{
  background-image: url("images/juice-wrld-trailer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 4;
}
.block5{
  background-image: url("images/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-weight:  bolder;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.block6{
  background-image: url("images/maxresdefault-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-weight:  bolder;
  grid-row-start: 3;
  grid-row-end: 5;
}
